.linkicon{
    height: 2rem;
    background: wheat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.title
{
text-align: center;
font-size: 2rem;
font-family: 'Courier New', Courier, monospace;
}

.contenedorAll
{
    display: flex;

}
.columna1, .columna2, .columna3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    flex-grow: 1;
    
    
}

.navigation, .navegador1, .navegador2, .navegador3
{
    margin-top: 1rem;
}