.header{
    width: 100%;
}

.linkicon{
    height: 2rem;
    background: wheat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.title
{
text-align: center;
font-size: 2rem;
font-family: 'Courier New', Courier, monospace;
}

.contenedorAll
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.columna
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    flex-grow: 1;
    justify-content: flex-start;
}

.tittle1, .tittle2, .tittle3, .tittle4, .tittle5{
    color: orange;
}

.navigation, .navegador1, .navegador2, .navegador3, .navegador4, .navegador5
{
    margin-top: 1rem;
}